<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <appSettings>
    <add key="rootDirectory" value="C:\Users\Grainier\Desktop\SAMPLE_DATA\" /> <!--Root directory of folders-->
    <add key="startHour" value="13" /> <!--Application start hour (ie : 18.00)-->
    <add key="startMinute" value="31" /> <!--Application start minute (ie : 00.13)-->
    <add key="uniquePrefixLength" value="4" /> <!--Length of unique prefix of a file (ie : A_10)-->
    
    <add key="smtpServer" value="" /> <!--(ie : smtp.gmail.com)-->
    <add key="smtpUser" value="" /> <!--(ie : example@gmail.com)-->
    <add key="smtpPass" value="mypass" /> <!--(ie : mypass)-->
    <add key="smtpPort" value="587" /> <!--(ie : 587)-->
    <add key="emailFrom" value="example@gmail.com" /> <!--(ie : example@gmail.com)-->
    <add key="emailTo" value="example@gmail.com" /> <!--(ie : to_example@gmail.com)-->
  </appSettings>
</configuration>