<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <appSettings>
    <add key="rootDirectory" value="C:\Users\Grainier\Desktop\SAMPLE_DATA\" /> <!--Root directory of folders-->
    <add key="startHour" value="20" /> <!--Application start hour (ie : 18.00)-->
    <add key="startMinute" value="55" /> <!--Application start minute (ie : 00.13)-->
    <add key="uniquePrefixLength" value="4" /> <!--Length of unique prefix of a file (ie : A_10)-->
  </appSettings>
</configuration>